{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Idea title {% endblock %}

{% block body %}
    <h2>Idea title</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Libero id faucibus nisl tincidunt eget nullam non. Laoreet sit amet cursus sit amet dictum sit
        amet justo. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Aliquet porttitor lacus luctus
        accumsan tortor. Vitae auctor eu augue ut lectus. Venenatis tellus in metus vulputate eu. Elementum nibh tellus
        molestie nunc non blandit massa enim nec. Duis ultricies lacus sed turpis tincidunt id aliquet risus. Leo urna
        molestie at elementum eu facilisis. At volutpat diam ut venenatis tellus in metus vulputate. Nam at lectus urna
        duis convallis convallis. Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Dolor morbi non arcu
        risus quis varius quam quisque id. Dictum varius duis at consectetur lorem donec massa sapien faucibus.
        Faucibus scelerisque eleifend donec pretium vulputate sapien. Sit amet nisl suscipit adipiscing bibendum est
        ultricies. Malesuada pellentesque elit eget gravida cum sociis natoque.
    </p>
    <p>
        Est ante in nibh mauris. Bibendum neque egestas congue quisque egestas diam in. Enim facilisis gravida neque
        convallis a cras. Lorem sed risus ultricies tristique. Id cursus metus aliquam eleifend mi in nulla posuere.
        Suspendisse potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Nunc non blandit massa enim nec
        dui nunc. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Amet mattis vulputate enim
        nulla aliquet porttitor lacus luctus accumsan. In hac habitasse platea dictumst quisque. Semper auctor neque
        vitae tempus quam. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Leo vel orci porta non
        pulvinar neque laoreet. Vitae congue eu consequat ac felis donec et. Amet risus nullam eget felis. Interdum
        posuere lorem ipsum dolor. Vestibulum sed arcu non odio euismod lacinia at quis. Amet aliquam id diam maecenas
        ultricies. Felis eget velit aliquet sagittis id consectetur purus. Dui ut ornare lectus sit amet est placerat
        in.
    </p>
{% endblock %}