<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bucket list</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Énoncé</h2>
    <p>
        Vous êtes maintenant prêt(e) à démarrer le développement de votre projet "Bucket List".
        Vous décidez de commencer par créer votre propre page d'accueil.
        Créez un contrôleur nommé MainController qui sera responsable de l'affichage des
        pages de base de votre application.
        Dans ce contrôleur, créez une méthode nommée home(), avec sa route au-dessus. La
        méthode doit être déclenchée lorsqu'on navigue vers l'URL "/".
        Créez un fichier Twig, qui sera affiché par cette méthode. Ajoutez-y simplement quelques
        mots, pour vous assurer que votre code fonctionne bien. Déclenchez l'affichage du fichier
        Twig depuis le contrôleur, et ouvrez votre nouvelle page d'accueil dans le navigateur !
    </p>
</body>
</html>