<nav class="header-nav">
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('whish_list') }}" title="Whish list">Whish list</a></li>
        <li><a href="{{ path('main_aboutUs') }}" title="About Us">About us</a></li>
    </ul>
</nav>

