<nav class="header-nav">
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('wish_list') }}" title="Wish list">Wish list</a></li>
        <li><a href="{{ path('wish_add') }}" title="Add a wish">Add a wish</a></li>
        <li><a href="{{ path('main_aboutUs') }}" title="About Us">About us</a></li>
    </ul>
</nav>