{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Error 404{% endblock %}

{% block body %}
    <h2>Ooooooops !</h2>
    <h3>Error 404 : You're lost alone in the deeeeeep dAaaaAaarK !</h3>
{% endblock %}