{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Error 403{% endblock %}

{% block body %}
    <h2>You shall not pass !</h2>
    <h3>Error 403 : You shall not pass !</h3>
{% endblock %}